<h1>Users</h1>
<em>(app/views/users/index.html.erb)</em>
<% @users.each do |user| %>
  <p><b>Name:</b> <%= user.name %></p>
  <p><b>Last name:</b> <%= user.lastName %></p>
  <p><b>Email:</b> <%= user.email %></p> <hr>
<% end %>
